@using JadooProject.Features.CQRS.Results.FeatureResult
@model List<GetFeatureQueryResult>
@{
    ViewData["Title"] = "Index";
}
<div class="container">

    <h1>Öne Çıkanlar</h1>
    <table class="table table-hover">
        <tr>
            <th>ID</th>
            <th>Başlık</th>
            <th>Açıklama</th>
            <th>Görsel</th>
            <th>İşlemler</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FeatureId</td>
                <td>@item.Title</td>
                <td>@item.Description</td>
                <td><img src="@item.ImageUrl" width="150" /></td>
                <td>
                    <a href="/Feature/Update/@item.FeatureId" class="btn btn-warning btn-sm">Güncelle</a>
                    <a href="/Feature/Delete/@item.FeatureId" onclick="return confirm('Silmek istediğinize emin misiniz?')" class="btn btn-danger btn-sm">Sil</a>
                </td>
            </tr>
        }
        <br />
        <a href="/Feature/CreateFeature" class="btn btn-primary">Yeni Öne Çıkan Oluştur</a>
    </table>
</div>

